html {
    color: #bcbcbc;
    box-sizing: border-box;
    margin: 0;
}

h2 {
            color:yellow;
            font-family:fantasy;
            font-weight:900
        }

body {
    background-color: beige;
}

main {
    background-color:darkorchid;
}
h1 {
    margin: 15px 5px 15px 5px;
    
    width:430px;
    height: 80px;
    margin-left: auto;
    margin-right:auto
}
.Fact {
    color:blue;
    font-size:15pt;
    border: 5px dotted pink;
    border-radius: 15px;
}
footer a {
    color:red; 
}
a {
    color: orange
}
a:hover {
    color: #aaa;
}
h4, p{
    color:goldenrod
}
#address {
    color:white;
    font-size:15pt;
    
    border: 5px dotted pink;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    border-radius: 15px;
    
    margin: 15px 5px 15px 5px;
    
    width:350px;
    height: 30px;
    margin-left: auto;
    margin-right:auto
    
}